/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

/* ----------------
    Common Styles
---------------- */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
}
.top-container{
    width: 1140px;
}
.container{
    width: 1050px;
}
/* -------------------
    Top Bar Styles
-------------------- */
.top-bar{   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
    padding-top: 67px;
    padding-bottom: 86px;
}
.top-title{
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.link-button{
    width: 120px;
    font-size: 16px;
    background-color: #E02C6D;
    border: 2px solid #d52062;
    border-radius: 3px;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.6s;
}
.link-button:hover{
    width: 200px;
}
.fa-arrow-right.arrow{
    margin-left: 8px;
}
.top-banner img{
    width: 556px;
    height: 438px;
}
.top-banner:hover img{
    transform: scale(1.2);
    transition: transform 0.7s;
}
/* -------------------
    Players style
------------------- */
#player-bg{
    background-color: white;
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
    margin-top: 70px;
    margin-bottom: 165px;
}
.player{
    width: 295px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.159) ;
}
.player img{
    width: 100%;
}
.player-name{
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-info{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
}
/* -------------------
    Footer Style
------------------- */
.footer-container{  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 480px;
    height: 110px;
}
.social-icon{
    color: #969BAB;
    font-size: 19px;
    margin-right: 17px;
    padding: 10px;
    border-radius: 50%;
    background-color: #7c7d822a;
}
.footer-icons{
    margin-top: 25px;
}
.copyright{
    color: #000000;
    font-size: 20px;
}
/* ----------------
    Media Query
---------------- */
/* ----------------
    Mobile Device
---------------- */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .top-container{
        width: 100%;
        padding: 0 16px;
        justify-content: center; 
    }
    .top-bar {
        grid-template-columns: repeat(1, 1fr);
    }
    .top-title{
        font-size: 36px;
    }
    .top-banner{
        margin-top: 50px;
    }
    .top-banner img{
        width: 100%;
        height: auto;
    }
    .players{
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center ;
        flex-direction: column;
    }
    .player{
        width: 90%;
    }
    .footer-container{
        width: 90%;
        padding: 0px 15px;
    }
    .footer-logo img{
        width: 80%;
        height: auto;
    }
}