/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

/* ----------------
    Common Styles
---------------- */
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
}
/* -------------------
    Top Bar Styles
-------------------- */
.top-bar{
    width: 1150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 67px;
    padding-bottom: 86px;
}
.top-title{
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.top-button{
    font-size: 16px;
    background-color: #E02C6D;
    border: 2px solid #d52062;
    border-radius: 3px;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    align-items: center;
}
.fa-arrow-right.arrow{
    margin-left: 8px;
}
.top-banner img{
    width: 556px;
    height: 438px;
}